
  @import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@600&display=swap');



  body {
    background: var(--black, #151515);
    font-family: 'Space Grotesk', sans-serif;
    box-sizing: border-box;
    
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px; 
  }
  .App{
   
    overflow:hidden;
    margin-left:auto;
    margin-right:auto;
    width:90%;
  }

 
  


.h1{
  color: #FFF;
  padding: 0;
}


h4{
  color: white;
}

.contact1{
  color: var(--green, #4EE1A0);
  width: 120px;
  height: 2px;
}

h2{
  color:white;
}
h3{
  color: #fff;
}
p{
  color: #FFF;
}
.skills{
  display:grid;
  grid-template-columns: 1fr;
}
.skill-year{
  align-items: center;

}
.title{
  font-size: 2rem;
  line-height: 1.17;
}
.projects.sect{
  display: flex;
  align-items: center;
}
.project-title{
  text-transform:uppercase ;
  padding-bottom: 0;
}


.portfolio-wrapper{

}
.projects.sect{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.grid{
  display: grid;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: flex-start;
}
.project-item{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}
.project-details{
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}
.project-tag{
  display: flex;
  justify-content: space-around;
  padding-top: 0;
  margin-top: 0;
  

}
.project-link a{
  text-decoration: underline;
  text-decoration-color: #4EE1A0;
  text-decoration-thickness:3px;
  width: 138px;
  height: 2px;
  flex-shrink: 0;
  text-transform: uppercase;
  color: #FFF;
  
  
}
.img{
  width: 100%;
  height: auto;
  
}
.img-profile{
  
}
.form{
  /*width:400px;*/
  height:8opx ;
  background: transparent;
  border: none;
  padding:20px;
  border-bottom: 1px solid #fff;
  opacity: 50%;
  
}
.message{
  height: 100px;
 /* width: 500px;*/
  background: transparent;
  border:none;
  border-bottom: 1px solid#fff;
  opacity: 50%;
  
}
.btn{
  background: transparent;
  border: none;
  border-bottom: 1px solid #fff;
  opacity: 50%;
}
.button {
  display: flex;
  flex-direction: column;
  align-items: center;
}
::placeholder{
  text-transform: uppercase;
  font-size: 1rem;
  line-height: 1;
}
.icons{
  color: white;
  size: 50px;
}
.icon.profile{
  display:flex;
  flex-direction:column;
  justify-contents:center;
  align-items:center;
  
  

}

.contacts{
  background:#242424;
  margin-top:30px;
}

.skills{
    display:grid;
    
    gap: 25px;
    padding-block: 40px 0;
}
.skill-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
@media (min-width: 640px) {
  
  .skills {
    grid-template-columns: repeat(2, minmax(200px, 1fr));
  }
  .grid{
    grid-template-columns: repeat(1 (0,1fr));
  }
  /*.img{
    width: 345px;
    height: 253px;
    flex-shrink: 0;
  }*/
  
  .project-title{
    color: var(--white, #FFF);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: inherit;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px; 
    text-transform: uppercase;
  }
  .project-tag{
    color: var(--grey, #D9D9D9);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: inherit;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px; 
  }
  
    .project-link a {
      color: var(--white, #FFF);
      font-family: inherit;
      font-size: 16px;
      font-style: normal;
      font-weight: 700;
      line-height: 26px; 
      letter-spacing: 2.286px;
      text-transform: uppercase;
    }
    .form{
color: var(--white, #FFF);
font-family: inherit;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 26px;
letter-spacing: -0.222px;
width:500px;

height: 1px;
flex-shrink: 0;

  }
 .message{
color: var(--white, #FFF);
font-family: Space Grotesk;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 26px; 
letter-spacing: -0.222px;
width: 343px;
height: 1px;
flex-shrink: 0;
margin-bottom:30px;

  }
  
  
  .input{
    width: 343px;
height: 1px;
flex-shrink: 0;;

  }
  .btn-text{
color: var(--white, #FFF);
font-family:inherit;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: 26px; 
letter-spacing: 2.286px;
  }
  .btn{
    width: 144px;
    height: 2px;
    background-color: #4EE1A0;
    margin-right:6px;
  }

  .icons{
    width: 153.994px;
    height: 20px;
    
  }
  .header{
    display: flex;
    
    align-items: center;
    justify-content: center;
    color: var(--white, #FFF);
    font-family:inherit;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px; 
    letter-spacing: -0.333px;
    
  }
  .name{
    align-items:center;
  }
  .icons-profile{
    display:flex;
    flex-direction:column;
  }
  .span{
    text-decoration: underline;
    text-decoration-color: rgb(80, 199, 157);
  }

  .heading1{
    width: 334px;
    color: white;
    text-align: center;
    font-family: Space Grotesk;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px; 
    letter-spacing: -1.136px;
  }
  
  .img-profile{
    width:200px;
  }
  .projects-head{
    color: var(--white, #FFF);
    font-family: Space Grotesk;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px; 
    letter-spacing: -1.136px;
  }
  .Contacts{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .Contact-head{
    color: var(--white, #FFF);
    text-align: center;
    font-family: inherit;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px; 
    letter-spacing: -1.136px;
  }
  
  .contact-paragraph{
    color: var(--grey, #D9D9D9);
    text-align: center;
    font-family: inherit;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px;
  }


@media (min-width: 768px) {
  
  .skills {
    grid-template-columns: repeat(2, minmax(200px, 1fr));
  }
  .grid{
    grid-template-columns: repeat(2, minmax(0,1fr));
   

  }
 /* .img{
 width:345px;
height: 253px;
flex-shrink: 0;

  }*/
  .icon-profile{
    
  }
  .header{
    display: flex;
    
    /*align-items: center;*/
  
    justify-content:space-around;
    color: var(--white, #FFF);
    
    font-family: inherit;
    font-size: 23px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px; 
    letter-spacing: -0.444px;
  }
  .intro{
    width:75%;
  }
  .icons{
    width: 192.492px;
    height: 25px;
  }
  .profile {
    display: flex;
    align-items: center;
    justify-content: space-around;
    
  }
  .span{
    text-decoration: underline;
    text-decoration-color: rgb(80, 199, 157);
  }
 .intro{
  
 }

 .img-profile{
/*width: 349.854px;
height: 486px;*/
width:250px;
height:auto;
 

  }
  
  

  .heading1{
    color: var(--white, #FFF);
font-family: Space Grotesk;
font-size: 2rem;
font-style: normal;
font-weight: 700;
line-height: 72px; 
letter-spacing: -2.045px;
  }

  .projects-head{

    color: var(--white, #FFF);
    font-family: inherit;
    font-size: 72px;
    font-style: normal;
    font-weight: 700;
    line-height: 72px; 
    letter-spacing: -2.045px;
  }
  .project-link a{
color: var(--white, #FFF);
font-family: inherit;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: 26px; 
letter-spacing: 2.286px;


  }
  .Contacts{
    display:flex;
    justify:space-around;
    

  }

  .Contact-head{
    color: var(--white, #FFF);
text-align: center;
font-family: inherit;
font-size: 72px;
font-style: normal;
font-weight: 700;
line-height: 72px; 
letter-spacing: -2.045px;
  }
  .contact-paragraph{
color: var(--grey, #D9D9D9);
text-align: center;
font-feature-settings: 'clig' off, 'liga' off;
font-family: inherit;
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: 28px;

  }

  .form{
color: var(--white, #FFF);
font-family: inherit;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 26px; 
letter-spacing: -0.222px;
width: 445px;
height: 43px;
flex-shrink: 0;

  }
  .message{
    color: var(--white, #FFF);
    font-family: Space inherit;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px; 
    letter-spacing: -0.222px;
    width: 445px;
    height: 107px;
    flex-shrink: 0;


  }
  .btn-text{
    color: var(--white, #FFF);
    font-family: Space Grotesk;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: -0.222px;
    

  }
  .btn{
    width: 144px;
    height: 2px;
    background-color: #4EE1A0;
  }
  
}

@media (min-width: 992px) {
  
  .skills {
    grid-template-columns: repeat(3,minmax(200px,1fr));
  
    align-items: flex-start;
    gap: 14px;
  }
  .grid{
    grid-template-columns: repeat(2, minmax(0,1fr));
  }

  .project-item {
    position: relative;
    overflow: hidden;
  }

  .hover-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    opacity: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: opacity 0.3s ease;
  }

  .project-item:hover .hover-overlay {
    opacity: 1;
  }

  .hover-overlay a {
    color: #fff;
    text-decoration: underline #4EE1A0 3px;

    margin: 10px;
    padding: 10px 20px;
    
    
  }



  /*.img{
 width: 540px;
height: 400px;
flex-shrink: 0;
opacity: 0.75;
background: #000;
  }*/


  /*.project-item {
    position: relative;
    margin-bottom:20px;
  }
  
  .image-container {
    position: relative;
    overflow:hidden;
  }
  
  .hover-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  
  .image-container:hover .hover-overlay {
    opacity: 1;
  }

  .hover-overlay a {
    text-decoration: none;
    color: white;
    margin: 5px 0; 
  }
  
  .hover-overlay a:hover {
    text-decoration: underline;
    color: green;
  }*/



  .header{
display:flex;
justify-content:space-evenly;
color: var(--white, #FFF);
font-family: Space Grotesk;
font-size: 32px;
font-style: normal;
font-weight: 700;
line-height: 32px;
letter-spacing: -0.444px;
padding:20px;
  }
  .img-profile-container{
    text-align:center;
    margin-right:20px;
  }
  .profile{
    display: flex;
    align-items:flex-start;
    justify-content: space-around;
    
  }
  .profile-head{
    max-width:400px;
    padding:0;
    margin:0;
    
  }
  
/*.profile-content{
padding-right: 0;
  }*/
  .icon.profile{
    justify-contents:center;
    margin-right:10rem;
    position:relative;
    padding-bottom:3rem;
    background: #d9d9d9;

  }
  .img-profile{
/*width:350px;
height: auto;
padding:50px;
flex-shrink:0;
background:dark-gray;*/
width:350px;
height:auto;


padding-top:20px;

  }
  .icons{
    margin-left:20px;
    margin-top: 10px; 
    width: 192.492px;
    height: 25px;
    
  }
  
  .heading1{
  color: var(--white, #FFF);
font-feature-settings: 'clig' off, 'liga' off;
font-family: 'inherit';
font-size: 3.5rem;
font-style: normal;
font-weight: 600;
line-height: 88px; 
letter-spacing: -2.5px;
  }
  .profile-head{
    padding-right:10rem;

    margin-right:10rem;

  }
  .intro{
    color: var(--grey, #D9D9D9);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Space Grotesk;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px; 
    width: 445px;
  }
  .horizontal-line{
    margin-top:100px;
    
    width: 1440px;
    

  }
  .projects-head{
    color: var(--white, #FFF);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: inherit;
    font-size: 88px;
    font-style: normal;
    font-weight: 700;
    line-height: 88px; 
    letter-spacing: -2.5px;
  
  }
  .project-link{

  }
  .Contact-head{
  color: var(--white, #FFF);
font-feature-settings: 'clig' off, 'liga' off;
font-family: inherit;
font-size: 88px;
font-style: normal;
font-weight: 700;
line-height: 88px; 
letter-spacing: -2.5px;
  }
  .contact-paragraph{
  color: var(--grey, #D9D9D9);
font-feature-settings: 'clig' off, 'liga' off;
font-family: inherit;
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: 28px;
  }
  .Contacts{
    display: flex;
    flex-direction:row;
    
    justify-content: space-between;
  }
 
  .btn-text{
  color: var(--green, #4EE1A0);
font-family: inherit;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: 26px; 
letter-spacing: 2.286px;
  }
  .btn{
 width: 144px;
height: 2px;
background-color: #4EE1A0;
margin-bottom:30px;
  }

}
  
.span{
  text-decoration: underline;
  text-decoration-color: rgb(80, 199, 157);
}
.icons{
    color: white;
    

}
.Contact-area {
  display: flex;
  flex-direction: column;
  justify-content: flex-start; 
  flex: 1; 
  padding-right: 20px; 
}
.form-area{
  margin-top:10px;
}

.Contact-paragraph {
  display: flex;
  flex-direction: column;
  justify-content: flex-end; 
  flex: 1; 
}
.message{
  width:500px;
}

.footer{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.a{
  color: rgb(80, 199, 157);
}

}

.contact2{
  text-transform: uppercase;
  color: #FFF;
  text-decoration: underline;
  text-decoration-color: #4EE1A0;
}